@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kanit', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 20px 0;
  font-size: 40px;
}

.settings {
  display: flex;
  justify-content: center;
}

.settings__active {
  display: flex;
  justify-content: center;
}

.settings__panel:not(:last-child) {
  margin-right: 55px;
}

.settings__title {
  font-size: 20px;
  margin-bottom: 5px;
}

.settings__value {
  font-size: 24px;
  margin: 0 15px;
}

button {
  border: none;
  background: none;
  font-size: 26px;
}

.control-panel {
  margin-top: 20px;
}

.control-panel__button:not(:last-child) {
  margin-right: 30px;
}

.timer {
  margin-top: 20px;
  width: 300px;
  text-align: center;
  border: 5px solid #013243;
  border-radius: 15px;
  padding: 10px 0 30px;
}

.timer__title {
  font-size: 36px;
  margin-bottom: 5px;
}

.timer__value {
  font-size: 40px;
}
